body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

/* Layout */

.title,
.content, 
.button-container {
  padding: 16px 12px;
}

.title {
  margin: 0;
}

.title,
.content {
  margin-bottom: 12px;
}

.button-container {
  text-align: center;
}

.button-container button {
  display: block;
  margin: 0 auto;
}

/* 1. Add padding to all the items inside the card  */
/* 2. Add space around the card */
/* 3. Remove the margin for h1 */
/* 4. Add margin bottom to div */
/* 5. Center the contents of button container */
/* 6. Change display property of button*/
/* 7. Add necessary padding to button */
